In [14]:
import pandas as pd
import numpy as np

In [15]:
basics_data= pd.read_csv('title.basics.data.tsv', sep='\t')
rating_data = pd.read_csv('title.ratings.data.tsv', sep='\t')

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [56]:
data = basics_data.merge(rating_data,left_on='tconst', right_on='tconst')
data = data[data["titleType"] == "movie"]
data

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance,5.9,155
259,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama",6.0,39
337,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N,4.7,7
371,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama",6.1,593
391,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama,4.5,14
...,...,...,...,...,...,...,...,...,...,...,...
1087195,tt9916132,movie,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,0,2018,\N,94,"Biography,Documentary,History",3.6,7
1087196,tt9916160,movie,Drømmeland,Drømmeland,0,2019,\N,72,Documentary,6.5,40
1087204,tt9916362,movie,Coven,Akelarre,0,2020,\N,90,"Drama,History,Horror",5.9,125
1087207,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,\N,\N,"Adventure,History,War",4.1,11
1087208,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,\N,123,Drama,8.4,5

In [57]:
data = data.replace("\\N", np.nan)
#data= data.drop(columns="isAdult")
data.columns
data= data.reset_index()
data

,index,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance,5.9,155
1,259,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,NaN,NaN,"Biography,Drama",6.0,39
2,337,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN,4.7,7
3,371,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Biography,Crime,Drama",6.1,593
4,391,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,NaN,NaN,Drama,4.5,14
...,...,...,...,...,...,...,...,...,...,...,...,...
254976,1087195,tt9916132,movie,The Mystery of a Buryat Lama,The Mystery of a Buryat Lama,0,2018,NaN,94,"Biography,Documentary,History",3.6,7
254977,1087196,tt9916160,movie,Drømmeland,Drømmeland,0,2019,NaN,72,Documentary,6.5,40
254978,1087204,tt9916362,movie,Coven,Akelarre,0,2020,NaN,90,"Drama,History,Horror",5.9,125
254979,1087207,tt9916428,movie,The Secret of China,Hong xing zhao yao Zhong guo,0,2019,NaN,NaN,"Adventure,History,War",4.1,11
254980,1087208,tt9916538,movie,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,0,2019,NaN,123,Drama,8.4,5

In [62]:
df = data["genres"].value_counts()
df.columns = ["genres", "Combined_Average"]

for i, row in data:
    total_votes = row['numVotes'].value_counts()
    for v in total_votes:
        df.loc[i,v] = total_votes[i]
df

ValueError: too many values to unpack (expected 2)